<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="PizzaPlace" transaction-type="RESOURCE_LOCAL">

        <class>com.company.pizzaplace.entity.Customer</class>
        <class>com.company.pizzaplace.entity.Ingredient</class>
        <class>com.company.pizzaplace.entity.DishType</class>
        <class>com.company.pizzaplace.entity.Dish</class>
        <class>com.company.pizzaplace.entity.Order</class>
        <class>com.company.pizzaplace.entity.DishQuantity</class>
    </persistence-unit>
</persistence>
